@charset "utf-8";

.clr{	clear:both;	}
.clearfix:after {    clear:both;    content:".";    display:block;    height:0;    overflow:hidden;    visibility:hidden;	}
.clearfix {   zoom:1;	}
.hide{	display:none;	}
.l{	float:left;	}
.r{	float:right;	}
.color_1ab{	color:#1ab394;	}

a{	color:#a3b1b4;	text-decoration:none;	}
a:hover{	color:#f00;	}
.w100{	width:100%;		margin:0 auto;	}
.wmax{	width:1200px;	margin:0 auto;	}

body{	min-width:1230px;	font-size:100%;	font-family:"Microsoft YaHei",SimSun,Arial; 	background:#fff;	}
.head{		height:500px;	background:url(/images/banner3.jpg) no-repeat center 0 #56d4bb;	position:relative;	}
.body_m1 .head{		height:500px;	background:url(/images/banner_m1.jpg) no-repeat center 0 #56d4bb;	position:relative;	}
.body_m2 .head{		height:500px;	background:url(/images/banner_m2.jpg) no-repeat center 0 #56d4bb;	position:relative;	}
.head_t{	height:100px;	position:relative;	z-index:1000;	background:rgba(0,0,0,.5);
		background:url(/images/bg_menu.png) repeat 0 0;	}
	#logo{	float:left;	padding:11px 0;	}
	#logo img{	height:78px;	}
	.menu{	float:right;	}
	.menu ul{		}
	.menu ul li{	float:left;	}
	.menu ul li a{		height:100px;	line-height:97px;	float:left;	font-size:18px;	color:#ffffff;	padding:0 20px;}
	.menu ul li.cur a{	height:97px;	border-bottom:3px solid #1ab394;	}
	
/*	index	*/
.head_in{	height:850px;	background:url(/images/banner2.jpg) no-repeat center 0 #fff;	position:relative;	}
.head_in_m{	position:relative;	height:750px;	}
.head_in_m ul{		}
.head_in_m ul li{		padding:137px 0 0;	display:none;	}
.head_in_m ul li.cur{	display:block;	}
.box1{		width:750px;	padding:30px 25px 50px 30px;	margin:0px auto 0;	border:10px solid #fff;	border-radius:10px;	}
.box1 h3{	font-size:47px;	color:#fff;	line-height:95px;	text-align:center;	}
.box1 p{	font-size:15px;	color:#fff;	line-height:28px;	text-indent:2em;	}
.box1 a.btn1{	width:356px;	height:62px;	line-height:62px;	text-align:center;	background:#1ab394;	font-size:24px;	color:#fff;
	display:block;	margin:75px auto 0;		border-radius:5px;	}
.head_in_m ol{			margin:0 auto;	float:left;		position:absolute;	left:50%;	bottom:28px;	}
.head_in_m ol li{		float:left;	margin-right:10px;	position:relative;	left:-50%;	}
.head_in_m ol li a{	display:block;	width:71px;	height:12px;		background:#fff;	overflow:hidden;	text-indent:-999px;	}
.head_in_m ol li.cur a{	width:116px;	height:12px;	background:#1ab394;	}

.main_i{		}
.box2{		margin-top:50px;	}
ah3.title1{	height:105px;	line-height:104px;	padding-top:25px;	text-align:center;	font-size:24px;	color:#233036;	font-weight:400;
	background:url(/images/bg_title1.png) no-repeat center 0;	letter-spacing:1px;	}
div.title1{		padding-top:55px;	background:url(/images/bg1_title1.png) no-repeat center 0;	}
div.title1 h3{	line-height:44px;	text-align:center;	font-size:24px;	color:#233036;	font-weight:400;	margin:0 auto;	letter-spacing:1px;		}
div.title1 h4{	line-height:33px;	text-align:center;	font-size:18px;	color:#a3b1b4;	font-weight:400;	margin:5px auto 0;	}
div.title1 .line_b{	display:block;	height:2px;	background:url(/images/line_b.png) no-repeat center 0;		margin:25px auto 0;	}
div.title1 h5{	line-height:44px;	text-align:center;	font-size:12px;	color:#4e5352;	font-weight:400;	margin:5px auto 0;	}

.box2_m{	width:1230px;	margin:10px auto 0;	position:relative;	left:-15px;	padding-top:20px;	}
.box2_list{			float:left;		width:585px;	height:410px;	overflow:hidden;	margin:0 15px 40px;
	box-shadow:0px 10px 60px 0px rgba(0,0,0,.15);		}
.box2_list img.l{	float:left;		width:289px;	height:410px;	}
.box2_list div.r{	float:right;	width:296px;	aheight:410px;	padding-top:40px;	}
.box2_list div.r .rt{		text-align:center;		}
.box2_list div.r .rt div{	height:75px;		}
.box2_list div.r .rt div img{	height:64px;		}
.box2_list div.r .rt h3{	font-size:18px;	font-weight:400;	color:#1ab394;	line-height:44px;		}
.box2_list div.r .rt p{		font-size:14px;	font-weight:400;	color:#a3b1b4;	line-height:24px;	padding:0 15px;	margin-top:5px;	}
.box2_list div.r .rm{			}
.box2_list div.r .rm ul{		width:280px;	margin:25px auto 0;	}
.box2_list div.r .rm ul li{		width:70px;	text-align:center;	float:left;		}
.box2_list div.r .rm ul li img{	height:30px;		}
.box2_list div.r .rm ul li p{	font-size:12px;	color:#a3b1b4;	height:42px;	line-height:40px;	overflow:hidden;		}

.box3{	margin:10px auto 0;		width:1200px;	overflow:hidden;	}
.box3_m{	margin:25px auto 0;	}
.box3_m ul{			width:1300px;	}
.box3_m ul li{		width:360px;	min-height:380px;	float:left;		margin:0 60px 0 0;	text-align:center;	}
.box3_m ul li div{	width:200px;	height:200px;	margin:0 80px 0;
	background:url(/images/bg_box3.png) no-repeat center center;		}
.box3_m ul li div.hover{	background:url(/images/bg_box3_hover.png) no-repeat center center;		}
.box3_m ul li div a{	width:200px;	height:200px;	display:table-cell;	vertical-align:middle;	}
.box3_m ul li div a.ico1{	background:url(/images/ico_9.png) no-repeat center center;	}
.box3_m ul li div a.ico2{	background:url(/images/ico_10.png) no-repeat center center;	}
.box3_m ul li div a.ico3{	background:url(/images/ico_11.png) no-repeat center center;	}
.box3_m ul li div.hover a.ico1{		background:url(/images/ico_9_hover.png) no-repeat center center;	}
.box3_m ul li div.hover a.ico2{		background:url(/images/ico_10_hover.png) no-repeat center center;	}
.box3_m ul li div.hover a.ico3{		background:url(/images/ico_11_hover.png) no-repeat center center;	}
.box3_m ul li div:hover img{		}
.box3_m ul li h3{	font-size:18px;	font-weight:400;	line-height:44px;	color:#1ab394;	margin:22px auto 0;	letter-spacing:1px;	}
.box3_m ul li p{	font-size:14px;	font-weight:400;	line-height:24px;	color:#a3b1b4;	margin:15px auto 0;	letter-spacing:2px;	}

#foot{	min-width:100%;	margin:40px auto 0;	background:url(/images/bg_foot.png) repeat center 0 #1ab394;	}
.foot{	amin-height:318px;	background:url(/images/bg_foot.png) repeat center 0 #1ab394;	color:#ffffff;	}
.foot_1{	width:215px;	float:left;	padding:50px 0 0;	}
.foot_1 h3{	font-size:16px;	font-weight:400;	color:#ffffff;	line-height:24px;	margin:20px 0 0;	}
.foot_1 ul{			width:215px;	margin:5px 0 0;	}
.foot_1 ul li{		float:left;	margin:0 6px 0 0;	width:65px;	}
.foot_1 ul li a{	font-size:12px;	color:#fff;	line-height:30px;		}
.foot_1 ul li a:hover{	color:#000;	}
.foot_2{	width:325px;	margin:30px 0 0 85px;	float:left;	}
.foot_2 h3{	height:44px;	line-height:33px;	font-size:14px;	font-weight:400;
	background:url(/images/border_f_h3.png) no-repeat 0 bottom;	}
.foot_2 h4{	height:60px;	line-height:60px;	font-size:30px;	font-weight:400;	margin:5px 0 0;	}
.foot_2 h4 img{	float:left;	margin:10px 20px 0 2px;	}
.foot_2 p{	font-size:12px;	line-height:24px;	}
.foot_3{	width:225px;	margin:30px 0 0 110px;	float:left;	}
.foot_3 h3{	height:44px;	line-height:33px;	font-size:14px;	font-weight:400;
	background:url(/images/border_f_h3.png) no-repeat 0 bottom;	}
.text_1{	width:210px;	height:90px;	line-height:24px;	background:#17A185;		border:none;	border-radius:5px;
	margin:20px 0 0;	font-size:12px;	color:#ffffff;	padding:5px 5px;	overflow-y:auto;	}
.sub_1{		width:220px;	height:24px;	line-height:20px;	background:none;	border:2px solid #48C2A9;	border-radius:3px;	
	font-size:12px;	color:#fff;	padding:0;	margin:12px 0 0;	border-color:#46CCB6;	}
.foot_4{	width:115px;	margin:65px 0 0 0px;	float:right;	}
.foot_4 h3{		font-weight:14px;	color:#fff;	font-weight:400;	height:36px;	line-height:36px;		}
.foot_4 h3 img{	float:left;	margin:5px 13px 0 0;		}
.foot_4 div{	width:115px;	margin:5px 0px 0 0;		text-align:center;	}
.foot_4 div img{		}

.copyright{		font-size:14px;	color:#fff;	text-align:center;	margin:20px auto 0;	padding-top:2px;
	background:url(/images/line_foot.png) no-repeat center 0;	}
.copyright p{	line-height:36px;	padding:14px 0;		margin:0 auto;	}

.content{		margin-top:50px;	}
.content_m{		font-size:14px;	color:#a3b1b4;	line-height:36px;	margin:10px auto 0;	letter-spacing:3px;	padding:0 15px 0 15px;	}
.content_m p{		}
.content_m img{	max-width:100%;	}

.wenhua{		margin-top:65px;	}
.wenhua_m{		margin-top:30px;	position:relative;	}
ul.slide_wh{		}
ul.slide_wh li{			height:600px;	position:relative;	padding:0px 0;
	background-color:#ddd;
	background-repeat:no-repeat;
	background-position:center 1px;		}
ul.slide_wh li .wh_a{	width:510px;	height:600px;	abackground:rgba(0,0,0,.4);	position:absolute;	left:50%;
	margin-left:-600px;
	background:url(/images/bg_slide_c.png) repeat 0 0;	}
ul.slide_wh li .wh_a .wh_title{		font-size:18px;	color:#56d4bb;	line-height:44px;	margin:50px auto 0;	padding:0 36px;	
	text-align:center;	}
ul.slide_wh li .wh_a .wh_content{	font-size:14px;	color:#ffffff;	line-height:36px;	margin:6px auto 0;	padding:0 36px;	}

.wenhua_m .hd{	position:absolute;	left:50%;	bottom:15px;	z-index:1000;	}
.wenhua_m .hd ul{	position:relative;	left:-50%;	}
.wenhua_m .hd ul li{	width:15px;	height:15px;	background:#fff;	opacity:0.5;	box-shadow:1px 1px 2px rgba(0,0,0,.5);
	float:left;		border-radius:15px;		text-indent:-999px;	overflow:hidden;	cursor:pointer;	margin:0 5px 0;	}
.wenhua_m .hd ul li.on{		background:#56d4bb;	opacity:1;	}

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

.menu_media{	width:1200px;	height:100px;	position:absolute;	left:50%;	margin-left:-600px;	bottom:0;	z-index:1010;
	background:url(/images/bg_menu_media.png) no-repeat center 0px;	}
.menu_media ul{		height:100px;	display:block;	margin:0 25px;	}
.menu_media ul li{		width:12.5%;	float:left;	text-align:center;	}
.menu_media ul li a{	width:100%;	height:100px;	float:left;	font-size:18px;	color:#fff;	}
.menu_media ul li a:hover,
.menu_media ul li a.cur{	color:#1ab394;	}
.menu_media ul li a i{		display:block;	height:46px;	margin-top:10px;	}
.menu_media ul li a strong{	display:block;	height:44px;	line-height:44px;	font-weight:400;	}

.menu_media ul li.li_m1 a i{	background:url(/images/ico_mm1.png) no-repeat center center;	}
.menu_media ul li.li_m2 a i{	background:url(/images/ico_mm2.png) no-repeat center center;	}
.menu_media ul li.li_m3 a i{	background:url(/images/ico_mm3.png) no-repeat center center;	}
.menu_media ul li.li_m4 a i{	background:url(/images/ico_mm4.png) no-repeat center center;	}
.menu_media ul li.li_m5 a i{	background:url(/images/ico_mm5.png) no-repeat center center;	}
.menu_media ul li.li_m6 a i{	background:url(/images/ico_mm6.png) no-repeat center center;	}
.menu_media ul li.li_m7 a i{	background:url(/images/ico_mm7.png) no-repeat center center;	}
.menu_media ul li.li_m8 a i{	background:url(/images/ico_mm8.png) no-repeat center center;	}

.menu_media ul li.li_m1 a:hover i,
.menu_media ul li.li_m1 a.cur i{	background:url(/images/ico_mm1_cur.png) no-repeat center center;	}
.menu_media ul li.li_m2 a:hover i,
.menu_media ul li.li_m2 a.cur i{	background:url(/images/ico_mm2_cur.png) no-repeat center center;	}
.menu_media ul li.li_m3 a:hover i,
.menu_media ul li.li_m3 a.cur i{	background:url(/images/ico_mm3_cur.png) no-repeat center center;	}
.menu_media ul li.li_m4 a:hover i,
.menu_media ul li.li_m4 a.cur i{	background:url(/images/ico_mm4_cur.png) no-repeat center center;	}
.menu_media ul li.li_m5 a:hover i,
.menu_media ul li.li_m5 a.cur i{	background:url(/images/ico_mm5_cur.png) no-repeat center center;	}
.menu_media ul li.li_m6 a:hover i,
.menu_media ul li.li_m6 a.cur i{	background:url(/images/ico_mm6_cur.png) no-repeat center center;	}
.menu_media ul li.li_m7 a:hover i,
.menu_media ul li.li_m7 a.cur i{	background:url(/images/ico_mm7_cur.png) no-repeat center center;	}
.menu_media ul li.li_m8 a:hover i,
.menu_media ul li.li_m8 a.cur i{	background:url(/images/ico_mm8_cur.png) no-repeat center center;	}

.box_m_bg1{	padding:50px 0 55px;	background:#fff;	}
.box_m_bg2{	padding:50px 0 55px;	background:#FAF9F9;	}

.box_m11{	padding:50px 0 55px;	abackground:#fff;	}
.box_m11_m{	padding:5px 60px 0 40px;		}
.box_m11_m p{	font-size:16px;	color:#4e5352;	line-height:28px;	}

.box_m12{	padding:50px 0 55px;	abackground:#FAF9F9;	}
.box_m12_m{		}
.box_m12_m ul{			margin:35px 0 0 20px;	}
.box_m12_m ul li{		float:left;	width:269px;	margin:0 28px 0 0;	}
.box_m12_m ul li:last-child{	margin:0;	}
.box_m12_m ul li+li+li+li{	margin:0;	}
.box_m12_m ul li img{	width:269px;	height:178px;	border-radius:8px;	}
.box_m12_m ul li i{		float:left;		width:46px;	height:45px;	position:relative;	top:-3px;	left:0;	z-index:100;
	background:url(/images/block_wg.gif) no-repeat 0 0;	}
.box_m12_m ul li div{	display:block;	margin:12px 2px 0 55px;	font-size:14px;	color:#4e5352;	line-height:24px;	}
.box_m12_mb{	text-align:center;	padding:60px 0 0;	}
.box_m12_mb p{	font-size:24px;	color:#233036;	line-height:48px;	font-weight:700;	font-family:SimSun;	}
.box_m12_mb p i{	display:inline-block;	width:18px;	height:23px;	position:relative;	top:4px;	padding:0 10px 0 0;
	background:url(/images/ico_desc.png) no-repeat 0 center;	}

.box_m13{	padding:50px 0 55px;	abackground:#fff;	}
.box_m13_m{		margin-top:15px;	padding:0 20px;	}
.box_m13_m .l{		width:540px;	height:501px;	float:left;	overflow:hidden;	}
.box_m13_m .l ul{	amargin:-15px 0 0 0;	height:501px;	}
ul.icolist_1{		padding:0 0 0 35px;	background:url(/images/bg_line.png) no-repeat 6px 18px;	}
ul.icolist_1 li{	width:500px;	border-bottom:1px dotted #1AB394;	padding:24px 0 18px 0;	position:relative;	}
ul.icolist_1 li i{	display:inline-block;	width:14px;	height:14px;	position:absolute;	left:-33px;	top:28px;
	background:url(/images/ico_desc2.png) no-repeat 0 0;	}
ul.icolist_1 li p{	font-size:14px;	color:#4e5352;	line-height:24px;	padding:0 50px 0 0;	}
.box_m13_m .r{		padding-top:15px;	}
.box_m13_m .r img{	max-width:100%;	}

.box_m14{	padding:50px 0 36px;	abackground:#FAF9F9;	}
.box_m14_m{	margin-top:10px;	padding:0 20px;	}
.wangge{	background:url(/images/wangge_3.png) no-repeat center 0;	position:relative;	}
.wangge ul{		position:relative;	width:1160px;	height:681px;	}
.wangge ul li{	width:199px;	height:215px;	float:left;	abackground:rgba(255,0,0,0.3);	margin:0 38px 0 0;
	position:absolute;	top:500px;	}
.wangge ul li.wangge_1{		left:4px;	top:203px;	}
.wangge ul li.wangge_2{		left:242px;	top:203px;	}
.wangge ul li.wangge_3{		left:481px;	top:203px;	}
.wangge ul li.wangge_4{		left:719px;	top:203px;	}
.wangge ul li.wangge_5{		left:957px;	top:203px;	}
.wangge ul li.wangge_6{		left:365px;	top:458px;	}
.wangge ul li.wangge_7{		left:607px;	top:458px;	}
.wangge ul li .wangge_m{		}
.wangge ul li .wangge_m div{	padding:22px 0 0;	text-align:center;	}
.wangge ul li .wangge_m div img{	height:28px;	}
.wangge ul li .wangge_m h3{		font-size:14px;	color:#233036;	line-height:38px;	text-align:center;	font-weight:400;	}
.wangge ul li .wangge_m p{		font-size:14px;	color:#233036;	line-height:25px;	text-align:center;	font-weight:400;
	text-align:left;	padding:5px 25px 0;	}

.box_m15{	padding:50px 0 60px;	abackground:#fff;	}
.box_m15_m{			margin:25px auto 0;	}
.box_m15_m ul{			width:1250px;	}
.box_m15_m ul li{		width:280px;	height:385px;	border:1px solid #88BAB0;	float:left;	margin:0 24px 0 0;	border-radius:6px;
	box-shadow:0 0 3px rgba(0,0,0,.3);	}
.box_m15_m ul li img{	width:280px;	height:190px;	border-radius:6px 6px 0 0;	}
.box_m15_m ul li div{	font-size:14px;	color:#a3b1b4;	line-height:36px;	padding:30px 15px 20px;	}

.box_m21{		}
.box_m21_m{		font-size:14px;	color:#233036;	line-height:30px;	margin:30px auto 0;	padding:0 20px 0;	}
ul.list_1{		margin:30px 0 0 45px;	width:1150px;	}
ul.list_1 li{		width:300px;	float:left;		margin:0 80px 0 0;	}
ul.list_1 li div{		text-align:center;	}
ul.list_1 li div img{	width:158px;	height:158px;	}
ul.list_1 li h3{	font-size:18px;	color:#1ab394;	line-height:30px;	font-weight:400;	text-align:center;	margin:30px auto 0;	}
ul.list_1 li p{		font-size:14px;	color:#233036;	line-height:30px;	margin:12px auto 0;	padding:0 0 25px;	}

.box_m22{		letter-spacing:2px;		}
.box_m22_m{		padding:0 20px;	overflow:hidden;		}
.box_m22 h3{	font-size:48px;	color:#1ab394;	line-height:60px;	text-align:center;	font-weight:400;	}
.box_m22 h4{	font-size:22px;	color:#090e11;	line-height:40px;	text-align:center;	font-weight:400;	margin:30px auto 0;	}
.box_m22 h5{	font-size:18px;	color:#090e11;	line-height:30px;	text-align:center;	font-weight:400;		}

ol.list_2{	margin:30px 0 0 40px;	}
ol.list_2 li{			font-size:18px;	color:#a3b1b4;	line-height:36px;	}
ol.list_2 li span{	color:#1ab394;	}

ul.list_3{	margin:40px 0 0 0;	width:1200px;	}
ul.list_3 li{		width:120px;	height:306px;	float:left;	margin:0 28px 0 0;	}
ul.list_3 li img{	width:120px;	height:306px;	box-shadow:0 0 50px rgba(0,0,0,.1);	}

.box_m23{		padding-bottom:10px;	}
.box_m23_m{		padding:0 15px;		margin:25px auto 0;	}

ul.list_4{		width:1250px;	}
ul.list_4 li{		width:560px;	float:left;	margin:0 40px 45px 0;	}
ul.list_4 li img{	width:300px;	height:200px;	float:left;	box-shadow:1px 2px 5px rgba(0,0,0,.4);	}
ul.list_4 li h3{	font-size:18px;	color:#56d4bb;	line-height:30px;	font-weight:400;	display:block;	margin:0 0 0 320px;	}
ul.list_4 li div{	font-size:14px;	color:#a3b1b4;	line-height:26px;	font-weight:400;	display:block;	margin:4px 0 0 320px;	}


